USE [Banco]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 8/20/2025 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[DNI] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[numero_telefono] [varchar](30) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 8/20/2025 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[dni_cliente] [int] NOT NULL,
	[codigo_cuenta] [int] IDENTITY(1,1) NOT NULL,
	[saldo] [money] NOT NULL,
	[tipo_cuenta] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[codigo_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operacion]    Script Date: 8/20/2025 11:12:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operacion](
	[fecha] [date] NOT NULL,
	[tipo_operacion] [varchar](30) NOT NULL,
	[importe] [money] NOT NULL,
	[idOperacion] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Operacion_1] PRIMARY KEY CLUSTERED 
(
	[idOperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([DNI], [nombre], [numero_telefono], [email], [fecha_nacimiento]) VALUES (46348668, N'Maximo Kirichuk', N'1116607667', N'sgags@gmail.com', CAST(N'2024-08-18' AS Date))
INSERT [dbo].[Cliente] ([DNI], [nombre], [numero_telefono], [email], [fecha_nacimiento]) VALUES (47900200, N'juilieta coronel', N'1166993003', N'julipro@gmail.com', CAST(N'2002-07-10' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Cuenta] ON 

INSERT [dbo].[Cuenta] ([dni_cliente], [codigo_cuenta], [saldo], [tipo_cuenta]) VALUES (47900200, 1, 0.0000, N'CajaAhorro')
INSERT [dbo].[Cuenta] ([dni_cliente], [codigo_cuenta], [saldo], [tipo_cuenta]) VALUES (47900200, 2, 40001.0000, N'CuentaCorriente')
SET IDENTITY_INSERT [dbo].[Cuenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Operacion] ON 

INSERT [dbo].[Operacion] ([fecha], [tipo_operacion], [importe], [idOperacion]) VALUES (CAST(N'2025-08-20' AS Date), N'Extraccion', 29999.0000, 1)
SET IDENTITY_INSERT [dbo].[Operacion] OFF
GO
